<p id="notice"><%= notice %></p>

<div class= 'panel panel-primary'>
  <div class= 'panel-heading'>
    <strong><%= @blog_post.title %></strong>
  </div>
  <div class= 'panel-body'>
    <p>by <strong><%= link_to @blog_post.user.username, user_posts_path(id: @blog_post.user.id) %></strong></p>
    <p><%= @blog_post.blog_entry %></p>
    <p>Posted on: <%= @blog_post.created_at.strftime('%D at %r')%></p>
    <% if current_user.id == @blog_post.user.id %>
    <%= link_to 'Edit Post', edit_blog_post_path(@blog_post), class: 'btn btn-warning' %>
    <%end%>
  </div>
</div>

<div class='panel panel-info'>
  <div class='panel-heading'>
    <strong>Leave a Comment:</strong>
  </div>
  <div class='panel-body'>
    <%= render 'comments/form'%>
  </div>
</div>

<div class='panel panel-default'>
  <div class='panel-heading'>
    <strong>Comments:</strong>
  </div>
  <% @blog_post.comments.each do |comment| %>
    <div class='panel-body'>
      <p><strong><%= link_to comment.user.username, user_posts_path(id: comment.user.id) %></strong> said:</p>
      <p><%= comment.comment_entry %></p>
      <p>Posted on: <%= comment.created_at.strftime('%D %r') %></p>
   </div>
    <%end%>
</div>

  <%= link_to 'Back to Blog', root_path, class: 'btn btn-primary' %>